<h1>New Player</h1>

<form action="/posts" method="POST">
	
	<label for="Player">Player: </label>
	<input type="text" name="Player" placeholder="Player">

	<label for="Position">Position: </label>
	<input type="text" name="Position" placeholder="Position">

	<label for="Team">Team: </label>
	<input type="text" name="Team" placeholder="Team">

	<label for="Status">Status: </label>
	<input type="text" name="Status" placeholder="Status">	

	<input type="submit" value="Save">

</form>