<!DOCTYPE html>
<html>
<head>
	<title>NFL Fantasy App</title>
</head>
<body>
	<h1>NFL Fantasy App</h1>
	<a href="/players/new">Create a new post</a>
	<%= yield %>
	<a href="/players">Back</a>
</body>
</html>